# Copie para .env (nao versionado) e ajuste se necessario.

# SSL / HTTPS
SSL_KEYSTORE_PASSWORD=changeit
SSL_KEYSTORE_TYPE=PKCS12
SSL_KEY_ALIAS_DEV=transcendence-dev
SSL_KEY_ALIAS_PROD=transcendence-prod

# (prod compose) caminho do keystore dentro do container
# Se voce mantiver o volume ./Backend/certs:/app/certs:ro
SSL_KEYSTORE_PATH=file:/app/certs/keystore-prod.p12

# CORS (backend) - origins permitidos
APP_CORS_ALLOWED_ORIGINS_DEV=http://localhost:3000
APP_CORS_ALLOWED_ORIGINS_PROD=http://localhost:8080

# Frontend base URL for OAuth2 redirects (backend -> frontend)
APP_FRONTEND_BASE_URL_DEV=http://localhost:3000
APP_FRONTEND_BASE_URL_PROD=http://localhost:8080
